<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lizheng.mapper.db1.UserMapper" >
    <resultMap id="myMap" type="com.lizheng.bean.result.UserTemplete">
        <result property="id" column="id"></result>
        <collection property="kuCunList" ofType="com.lizheng.bean.po.KuCun">
            <result property="num" column="num"></result>
            <result property="stockNum" column="stockNum"></result>
            <result property="version" column="version"></result>
        </collection>

    </resultMap>

    <select id="selectUser" resultType="com.lizheng.bean.po.User">
        select * from user where id = #{id}
    </select>
  <select id="selectAllUser" resultType="com.lizheng.bean.po.User">
        select id,name from user
  </select>
  <select id="selectUserByName" resultType="com.lizheng.bean.po.User">
        select id,name
        from user
        where  name = #{userName}
        limit 0,1
  </select>
    <select id="getUser" resultType="com.lizheng.bean.po.User">
        select * from user where id = %s
    </select>
    <select id="selectJoin" resultMap="myMap">
        select u.id,k.num num,k.stock_num stockNum,k.version version 
        from user u 
        left join kucun k 
        on k.version = u.id
        where u.id =1
    </select>


</mapper>