<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizheng.mapper.db2.UserInfoExtMapper">
    <update id="update">
        update user set qr_code = uuid() WHERE id = #{id}
    </update>


    <select id="selectRiders" resultType="com.lizheng.bean.res.UserListRes">
        select riderId,riderName,company,phone,idCard,qrCode
        from
        (select ri.rider_id riderId,
        ri.`name`riderName,
        IFNULL(GROUP_CONCAT(ci.name ORDER BY rsr.create_time desc SEPARATOR '、'),'无') company,
        ri.phone phone,
        ri.id_card idCard,
        ri.qr_code qrCode
        from a1 ri
        LEFT JOIN a2 rsr on ri.rider_id = rsr.rider_id and rsr.is_deleted = 0
        LEFT JOIN a3 ci on ci.company_id = rsr.company_id and ci.is_deleted = 0
        WHERE ri.is_deleted = 0
        <if test="riderName != null and riderName != ''">and ri.name like CONCAT('%', #{riderName}, '%')</if>
        GROUP BY ri.rider_id
        ORDER BY ri.create_time desc) a
        WHERE 1=1
    </select>


    <select id="selectList" resultType="com.lizheng.bean.res.UserListRes">
        select id riderId,name riderName,qr_code qrCode
        from
        user
        WHERE 1=1
    </select>
</mapper>